<!DOCTYPE html>
<html lang="en">
<head>
  <title>QM Start Quiz</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" 
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
</head>
<body class="bg-primary">
<div class="container pt-5">
	<h3 class="strong text-center text-white">{{quiz.title}}</h3>
</div>
<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header d-flex justify-content-between">
            <span>
              <strong>QNo. {{ q_index }}/{{ quiz.questions|length }}</strong>
            </span>
            <span class="timer text-danger">
                    Time Left: <span id="timer"></span>
            </span>
          </div>
            <div class="cad-body">
                <h5 class="card-title">{{questions.q_statement}}</h5>
                <form id="startQuizForm" action="{{  url_for('start_quizQuestions', quiz_id=quiz.quiz_id, q_index=q_index) }}" method="POST">
                    <div class="form-check my-2">
                        <input class="form-check-input" type="radio" name="ans" id="opt1" value="1"/>
                        <label class="form-check-label" for="opt1">{{questions.opt_1}}</label>
                    </div>
                    <div class="form-check my-2">
                        <input class="form-check-input" type="radio" name="ans" id="opt2" value="2"/>
                        <label class="form-check-label" for="opt2">{{questions.opt_2}}</label>
                    </div>
                    <div class="form-check my-2">
                        <input class="form-check-input" type="radio" name="ans" id="opt3" value="3"/>
                        <label class="form-check-label" for="opt3">{{questions.opt_3}}</label>
                    </div>
                    <div class="form-check my-2">
                        <input class="form-check-input" type="radio" name="ans" id="opt4" value="4"/>
                        <label class="form-check-label" for="opt4">{{questions.opt_4}}</label>
                    </div>
                    <div class="mt-4 d-flex justify-content-between">
                        {% if q_index<quiz.questions|length %}
                            <button type="submit" class="btn btn-primary" name="action" value="next">Save & Next</button>
                          {%else%}
                            <button type="submit" class="btn btn-primary" name="action" value="next" disabled>Save & Next</button>
                          {%endif%}
                          <button type="submit" class="btn btn-success" name="action" value="submit">Submit</button> 
                    </div>
                </form>

            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<script>
  window.onload=function(){
  var time=parseInt("{{ t_rem }}");
  var tele=document.getElementById('timer');
  function update(){
    var mins=Math.floor(time/60);
    var secs=time%60;
    if(secs<10){
      secs='0'+secs;
    }
    tele.innerHTML=mins+':'+secs;
    if(time==0){
      clearInterval(x);
      document.getElementById('startQuizForm').submit();
    }
    time--;
  }
  update();
  var x=setInterval(update,1000);
};
</script>
</body>
</html>